[Unit]
Description=nextcloud.container
Wants=nextcloud-cron.service nextcloud-proxy.service

[Container]
Image=docker.io/library/nextcloud:latest
AutoUpdate=registry
Pod=nextcloud.pod
EnvironmentFile=.env
Volume=%h/data/volumes/nextcloud/nextcloud/data:/var/www/html:z

[Service]
Restart=always
