# Reference:
# https://caddy.community/t/beginner-friendly-security-oriented-setup-rootless-podman-running-pi-hole-and-unbound-using-reverse-proxy-via-caddy-with-socket/29988
# https://github.com/eriksjolund/podman-caddy-socket-activation/tree/main
[Unit]
Description=nextcloud-proxy.socket

[Socket]
BindIPv6Only=both
ListenStream=[::]:7443
ListenDatagram=[::]:7443

[Install]
WantedBy=sockets.target
