[Unit]
Description=nextcloud-cron.container
Requires=nextcloud.service
After=nextcloud.service

[Container]
Image=docker.io/library/nextcloud:latest
AutoUpdate=registry
Pod=nextcloud.pod
Exec=/cron.sh
Volume=%h/data/volumes/nextcloud/nextcloud/data:/var/www/html:z

[Service]
Restart=always
