# nextcloud-proxy.container
[Unit]
Description=nextcloud
Requires=nextcloud.service
After=nextcloud.service

[Container]
Image=docker.io/caddy:latest
AutoUpdate=registry
Pod=nextcloud.pod
Volume=./caddy/Caddyfile:/etc/caddy/Caddyfile:z
Volume=./caddy/cert.pem:/etc/ssl/certs/cert.pem:z
Volume=./caddy/cert.key:/etc/ssl/private/cert.key:z

[Service]
Restart=always
