[Unit]
Description=nextcloud-proxy.container
Requires=nextcloud.service nextcloud-proxy.socket
After=nextcloud.service nextcloud-proxy.socket

[Container]
Image=docker.io/library/caddy:latest
AutoUpdate=registry
Pod=nextcloud.pod
Volume=./caddy/Caddyfile:/etc/caddy/Caddyfile:Z
Volume=./caddy/cert.pem:/etc/ssl/certs/cert.pem:Z
Volume=./caddy/cert.key:/etc/ssl/private/cert.key:Z

[Service]
Restart=always
