# nextcloud-cron.container
[Unit]
Description=nextcloud
Requires=nextcloud.service
After=nextcloud.service

[Container]
Image=docker.io/nextcloud:latest
AutoUpdate=registry
Pod=nextcloud.pod
Exec=/cron.sh
Volume=./volumes/nextcloud/data:/var/www/html:z

[Service]
Restart=always
