# Format this file with "caddy fmt --overwrite"
{
	auto_https off

	# https://caddyserver.com/docs/caddyfile/options#listener-wrappers
	servers {
		listener_wrappers {
			http_redirect # Redirect to HTTPS if a HTTP request is made on the same port.
			tls
		}
	}
}

:7003 {
	# Reference:
	# https://caddy.community/t/beginner-friendly-security-oriented-setup-rootless-podman-running-pi-hole-and-unbound-using-reverse-proxy-via-caddy-with-socket/29988

	# HTTP 1 and HTTP 2 over TCP
	bind fd/3 {
		protocols h1 h2
	}

	# HTTP 3 over UDP
	bind fdgram/4 {
		protocols h3
	}

	# Enable TLS encryption using the given certificate.
	tls /etc/ssl/certs/cert.pem /etc/ssl/private/cert.key

	request_body {
		max_size 8MB
	}

	header {
		Strict-Transport-Security "max-age=31536000; includeSubDomains; preload"
	}

	reverse_proxy localhost:8080

	# Use following reverse_proxy configuration to skip logging healthy status codes
	# reverse_proxy localhost:8080 {
	# 	# Skip logging 2xx and 3xx responses to declutter log_skip
	# 	# https://caddy.community/t/how-to-filter-out-requests-with-status-200-from-log/31278
	# 	@nolog_status_codes {
	# 		status 2xx
	# 		status 3xx
	# 	}
	# 	handle_response @nolog_status_codes {
	# 		log_skip
	# 		copy_response
	# 	}
	# }

	# For configuring fail2ban
	log {
		format filter {
			request>headers delete
			request>tls delete
			resp_headers delete
			duration delete
			bytes_read delete
			size delete
			duration delete
			user_id delete
		}
	}
}
