# Reference:
# https://caddy.community/t/beginner-friendly-security-oriented-setup-rootless-podman-running-pi-hole-and-unbound-using-reverse-proxy-via-caddy-with-socket/29988
# https://github.com/eriksjolund/podman-caddy-socket-activation/tree/main
[Unit]
Description=dokuwiki-proxy.socket

[Socket]
BindIPv6Only=both
ListenStream=[::]:7001
ListenDatagram=[::]:7001

[Install]
WantedBy=sockets.target
