[Unit]
Description=dokuwiki-proxy.container
Requires=dokuwiki.service dokuwiki-proxy.socket
After=dokuwiki.service dokuwiki-proxy.socket

[Container]
Image=docker.io/library/caddy:latest
AutoUpdate=registry
Pod=dokuwiki.pod
Volume=./caddy/Caddyfile:/etc/caddy/Caddyfile:Z
Volume=./caddy/cert.pem:/etc/ssl/certs/cert.pem:Z
Volume=./caddy/cert.key:/etc/ssl/private/cert.key:Z

[Service]
Restart=always
