[Unit]
Description=paperless-ngx.container
Requires=paperless-ngx-redis.service
Wants=paperless-ngx-proxy.service

[Container]
Image=ghcr.io/paperless-ngx/paperless-ngx:latest
AutoUpdate=registry
Pod=paperless-ngx.pod
Volume=%h/data/volumes/paperless-ngx/paperless-ngx/data:/usr/src/paperless/data:Z
Volume=%h/data/volumes/paperless-ngx/paperless-ngx/media:/usr/src/paperless/media:Z
Volume=%h/data/volumes/paperless-ngx/paperless-ngx/export:/usr/src/paperless/export:Z
Volume=%h/data/volumes/paperless-ngx/paperless-ngx/consume:/usr/src/paperless/consume:Z
Environment=PAPERLESS_REDIS=redis://localhost:6379
EnvironmentFile=.env

[Service]
Restart=always
